# -*- coding: utf-8 -*-
"""{{ file_description }}"""

from plaso.containers import time_events
from plaso.lib import eventdata
from plaso.parsers import sqlite
from plaso.parsers.sqlite_plugins import interface

{% for event in events %}
class {{ class_name }}{{ event }}Event(time_events.PosixTimeEvent)
  """TODO"""
  def __init__(
   #TODO
  )

  super().__init__(TODO)
  #TODO

{% endfor %}

class {{ class_name }}Plugin(interface.SQLitePlugin):
  """TODO"""
  NAME = u'{{ plugin_name }}'
  DESCRIPTION = u'TODO'
  QUERIES = [ TODO ]

  REQUIRED_TABLES = frozenset([ TODO ])

sqlite.SQLiteParser.RegisterPlugin({{ class_name }}Plugin)